# AWS
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret

# Database
POSTGRES_USER=routemind
POSTGRES_PASSWORD=secure_password_change_me
POSTGRES_DB=routemind_db
DATABASE_URL=postgresql+asyncpg://routemind:secure_password_change_me@db:5432/routemind_db

# Auth
SECRET_KEY=super_secret_jwt_key_change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Redis
REDIS_URL=redis://redis:6379/0

# Services
AUTH_SERVICE_URL=http://auth-service:8000
ROUTING_SERVICE_URL=http://routing-service:8000